*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  height: 100vh;
  width: 100%;
  /* background-color: red; */
  background-color: rgb(147, 144, 144);
  display: flex;
  justify-content: center;
  align-items: center;
}
.main{
  background-color:rgb(0, 255, 179);
  height: inherit;
  /* display: flex; */
  width: 600px;
  padding: 20px;
}
.name{
  width: 100%;
  height: 30px;
  padding-left: 10px;
  outline: 0;
  border: 0;
}
.phone{
  width: 100%;
  height: 30px;
  margin-top: 10px;
  padding-left: 10px;
  outline: 0;
  border: 0;
}
.email{
  width: 100%;
  height: 30px;
  margin-top: 10px;
  padding-left: 10px;
  outline: 0;
  border: 0;
}
.password{
  width: 100%;
  height: 30px;
  margin-top: 10px;
  padding-left: 10px;
  outline: 0;
  border: 0;
}
.confirmpassword{
  width: 100%;
  height: 30px;
  margin-top: 10px;
  padding-left: 10px;
  outline: 0;
  border: 0;
}

.register{
  height: 40px;
  margin-top: 10px;
  border: 0;
  color: white;
  width: 80px;
  background-color: rgba(159, 246, 9, 0.918);
}
span{
  color: red;
  font-size: 14px;
  /* position:   relative; */
  top: 10px;
  left: 0;
}








/* daynamic  */


.daynamic-main{
  width: 400px;
  height: inherit;
}